* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: black;
    color: whitesmoke;
    font-size: 2rem;
    display: flex;
    flex-flow: column;
}

nav {
    padding: 1rem;
    background-color: #3a3f79;
    color: white;
    font-size: 2.5rem;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

h1,
p {
    text-align: center;
}

a {
    text-decoration: none;
    color: #81dbb8;
    padding: 2rem;
}

a:hover {
    opacity: .85;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    max-width: 80%;
    display: block;
    font-size: 1rem;
}

th, td {
    width: auto;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
}

th {
    background-color: #3a3f79;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;

}
tr:nth-child(odd) {
    background-color: #cccccc;
}

table td {
    color: black;
}