body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #232F3E;
    color: #FFFFFF;
}

header {
    background-color: #0C151A;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    padding: 10px;
    margin: 0 auto;
}

.search-bar form {
    display: flex;
}

.search-bar input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.search-bar button {
    padding: 5px 10px;
    border: none;
    background-color: #0C151A;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #575a5e;
}

.login-button, .logout-button {
    text-decoration: none;
    color: white;
    background-color: #0C151A;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.login-button:hover, .logout-button:hover {
    background-color: #575a5e;
}

.login-button i, .logout-button i {
    margin-right: 5px;
}

nav {
    width: 100%;
    background-color: #0C151A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #575a5e;
    border-radius: 5px;
}

.movie-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin-bottom: 0px;
}

.movie-item {
    background-color: #0C151A;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    margin-bottom: 100px;
}

.poster {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;

}

.review-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding: 50px;

}

.review-item {
    background-color: #0C151A;
    max-width: 350px;
    flex: 1 1 300px;
    padding: 10px;
    border-radius: 5px;
    overflow-wrap: break-word;
    margin-bottom: 20px;
}

.review-item h3 {
    margin-bottom: 20px;
    color: white;
    text-align: left;

}

.review-item p {
    margin: 5px 0;
    word-wrap: break-word;
    text-align: left;
}

.movie-grid .star-rating {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.review-grid .star-rating {
    display: flex;
   text-align: left;
    margin-top: 5px;
}


.star {
    font-size: 1.5em;
    color: lightgray;
}

.star.filled {
    color: gold;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    width: fit-content;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-label {
    margin-right: 10px;
    width: 80px;
    text-align: left;
}

.form-input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    width: 170px;
}

.login-button {
    padding: 10px 20px;
}

.register-button {
    text-decoration: none;
    color: white;
    background-color: #0C151A;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    width: 265px;
    margin-top: 10px;
    margin-right: 10px;
}

.register-button:hover {
    background-color: #575a5e;
}

.register-form {
    width: 400px;
    margin: 10px auto;
    padding: 20px;
    background-color: #0C151A;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"],
.register-form input[type="first_name"],
.register-form input[type="surname"] {
    width: calc(100% - 100px);
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.register-page-button {
    text-decoration: none;
    color: white;
    background-color: #0C151A;
    padding: 10px;
    border-radius: 5px;
    display: block;
    width: 100%;
    margin-top: 10px;
}

.register-page-button:hover {
    background-color: #575a5e;
}

a {
    color: white;
    text-decoration: none;
}

main {
    text-align: center;
    padding: 50px;
}
