<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        Movies Recommendation
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
<nav>
    <a href="/">Home</a>
    <a href="{% url 'movie_app:movies' %}">Movies</a>
    <a href="{% url 'movie_app:sample_movie_details' %}">Movies Details</a>
    <a href="{% url 'user_app:users' %}">Users</a>
    <a href="{% url 'user_app:sample_user_details' %}">User Details</a>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'user_app:login' %}">Login</a>
    <form action="{% url 'user_app:logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Logout">
    </form>
</nav>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>