{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<h1>Home Page</h1>
<p>Welcome to the Movie Recommendation App!</p>

<h2>Najpopularniejsze Filmy</h2>
<div class="movie-grid">
    {% for movie in popular_movies %}
    <div class="movie-item">
        <img class="poster" src="{{ movie.photo_url }}" alt="{{ movie.title }}">
        <h3>{{ movie.title }}</h3>
        <p>Rating: {{ movie.rating }}</p>
        <div class="star-rating">
            {% for star in movie.get_star_rating.full_stars %}
                <span class="star filled">&#9733;</span>
            {% endfor %}
            {% if movie.get_star_rating.half_stars %}
                <span class="star">&#9733;</span>
            {% endif %}
            {% for star in movie.get_star_rating.empty_stars %}
                <span class="star">&#9734;</span>
            {% endfor %}
        </div>
        <p>Number of votes: {{ movie.votes }}</p>
    </div>
    {% endfor %}
</div>

<h2>Ostatnie Recenzje</h2>
<div class="review-grid">
    {% for review in latest_reviews %}
    <div class="review-item">
        <h3>{{ review.movie.title }}</h3>
        <p><strong>User:</strong> {{ review.user.display_name}}</p>
        <p><strong>Review:</strong> {{ review.review_text }}</p>
        <p><strong>Rating:</strong> {{ review.rating }}</p>
        <p><strong>Posted on:</strong> {{ review.review_date }}</p>
    </div>
    {% endfor %}
</div>

{% endblock %}
