{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<h1>Home Page</h1>
<p>Welcome to the Movie Recommendation App!</p>
<h2>Most Popular Movies</h2>
<ul>
    {% for movie in popular_movies %}
    <li>
        <h3>{{ movie.title }}</h3>
        <p>Rating: {{ movie.rating }}</p>
        <p>Number of votes: {{ movie.votes }}</p>
    </li>
    {% endfor %}
</ul>

<h2>Latest Reviews</h2>
<ul>
    {% for review in latest_reviews %}
    <li>
        <h3>{{ review.movie.title }}</h3>
        <p>User: {{ review.user.display_name}}</p>
        <p>Review: {{ review.review_text }}</p>
        <p>Rating: {{ review.rating }}</p>
        <p>Posted on: {{ review.review_date }}</p>
    </li>
    {% endfor %}
</ul>

{% endblock %}