{% extends 'base.html' %}

{% block title %}
    Movies
{% endblock %}

{% block content %}
<h1>Movies Page</h1>
<p>Movies table joined</p>
<h3>Movies</h3>

<table>
    <tr>
        <th>movie_id</th>
        <th>tittle</th>
        <th>production_year</th>
        <th>rating</th>
        <th>certificate</th>
        <th>duration</th>
        <th>description</th>
        <th>votes</th>
        <th>genre</th>
        <th>director</th>
        <th>cast</th>
    </tr>
    {% for movie in movies %}
    <tr>
        <td>{{ movie.movie.movie_id }}</td>
        <td>{{ movie.movie.tittle }}</td>
        <td>{{ movie.movie.production_year }}</td>
        <td>{{ movie.movie.rating }}</td>
        <td>{{ movie.movie.certificate }}</td>
        <td>{{ movie.movie.duration }}</td>
        <td>{{ movie.movie.description }}</td>
        <td>{{ movie.movie.votes }}</td>
        <td>
            {% for genre in movie.genres %}
                {{ genre.display_name }}
            {% endfor %}
        </td>
        <td>
            {% for director in movie.directors %}
                {{ director.display_name }}
            {% endfor %}
        </td>
        <td>
            {% for cast in movie.casts %}
                {{ cast.display_name }}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}