{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Movies" %}
{% endblock %}

{% block content %}

<!-- Formularz filtrowania -->
<form method="GET" action="{% url 'movie_app:movies_list' %}" class="filter-form">
    <div class="form-group">
        <label for="genre">{% trans "Genre:" %}</label>
        <select name="genre" id="genre" class="form-input">
            <option value="">{% trans "Select Genre" %}</option>
            {% for genre in genres %}
                <option value="{{ genre.display_name }}" {% if request.GET.genre == genre.display_name %}selected{% endif %}>
                    {{ genre.display_name }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="production_year">{% trans "Production Year:" %}</label>
        <input type="number" name="production_year" id="production_year" value="{{ request.GET.production_year }}" class="form-input">
    </div>
    <div class="form-group">
        <label for="director">{% trans "Director:" %}</label>
        <select name="director" id="director" class="form-input">
            <option value="">{% trans "Select Director" %}</option>
            {% for director in directors %}
                <option value="{{ director.director_id }}" {% if request.GET.director == director.director_id|stringformat:"s" %}selected{% endif %}>
                    {{ director.display_name }}
                </option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn-filter">{% trans "Filter" %}</button>
</form>

<!-- Formularz sortowania -->
<form method="GET" action="{% url 'movie_app:movies_list' %}" class="sort-form">
    <!-- Ukryte pola dla zachowania aktualnych filtrów -->
    <input type="hidden" name="genre" value="{{ request.GET.genre }}">
    <input type="hidden" name="production_year" value="{{ request.GET.production_year }}">
    <input type="hidden" name="cast" value="{{ request.GET.cast }}">

    <div class="form-group">
        <label for="sort_by">{% trans "Sort by:" %}</label>
        <select name="sort_by" id="sort_by" class="form-input">
            <option value="rating_desc" {% if request.GET.sort_by == 'rating_desc' %}selected{% endif %}>{% trans "Rating Descending" %}</option>
            <option value="rating_asc" {% if request.GET.sort_by == 'rating_asc' %}selected{% endif %}>{% trans "Rating Ascending" %}</option>
            <option value="votes_desc" {% if request.GET.sort_by == 'votes_desc' %}selected{% endif %}>{% trans "Votes Descending" %}</option>
            <option value="votes_asc" {% if request.GET.sort_by == 'votes_asc' %}selected{% endif %}>{% trans "Votes Ascending" %}</option>
        </select>
    </div>
    <button type="submit" class="btn-sort">{% trans "Sort" %}</button>
</form>

<h3>{% trans "Movies" %}</h3>

<div class="movie-card-container">
    {% for movie_details in movies_details %}
    <div class="movie-card">
        <div class="movie-card-header">
            <img src="{{ movie_details.movie.photo_url }}" class="poster" alt="{{ movie_details.movie.title }} poster">
        </div>
        <div class="movie-card-body">

            <h4>
    {% if movie_details.movie.movie_id %}
       <a href="{% url 'movie_app:movie_details' movie_id=movie_details.movie.movie_id %}">
             {{ movie_details.movie.title }}
       </a>
    {% else %}
        {{ movie_details.movie.title }}
    {% endif %}
</h4>

            <p><strong>{% trans "Year:" %}</strong> {{ movie_details.movie.production_year }}</p>
            <p><strong>{% trans "Rating:" %}</strong> {{ movie_details.movie.rating }}</p>
            <p><strong>{% trans "Votes:" %}</strong> {{ movie_details.movie.votes }}</p>
            <p><strong>{% trans "Genres:" %}</strong>
                {% for genre in movie_details.genres %}
                    {{ genre.display_name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p><strong>{% trans "Directors:" %}</strong>
                {% for director in movie_details.directors %}
                    {{ director.display_name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p><strong>{% trans "Cast:" %}</strong>
                {% for cast in movie_details.casts %}
                    {{ cast.display_name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
