{% extends 'base.html' %}

{% block title %}
    Movie Details
{% endblock %}

{% block content %}
<div class="movie-details-container">
    <div class="movie-poster">
        <img src="{{ movie_details.movie.photo_url }}" alt="Movie Poster">
    </div>
    <div class="movie-info">
        <h1>{{ movie_details.movie.title }}</h1>
        <p><strong>Production Year:</strong> <span>{{ movie_details.movie.production_year }}</span></p>
        <p><strong>Rating:</strong> <span>{{ movie_details.movie.rating }}</span></p>
        <p><strong>Certificate:</strong> <span>{{ movie_details.movie.certificate }}</span></p>
        <p><strong>Duration:</strong> <span>{{ movie_details.movie.duration }} minutes</span></p>
        <p><strong>Votes:</strong> <span>{{ movie_details.movie.votes }}</span></p>
        <p><strong>Genre:</strong>
            {% for genre in movie_details.genres %}
                {{ genre.display_name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p><strong>Director:</strong>
            {% for director in movie_details.directors %}
                {{ director.display_name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p><strong>Cast:</strong>
            {% for cast in movie_details.casts %}
                {{ cast.display_name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p><strong>Description:</strong> <span>{{ movie_details.movie.description }}</span></p>
    </div>
</div>

<h3>Reviews</h3>
<div class="reviews-container-mdetails">
    {% for review in reviews %}
        <div class="review-item-mdetails">
            <h3>{{ review.user }}</h3>
            <p>{{ review.review_text }}</p>
        </div>
        <h4>Comments:</h4>
        {% for comment in review.moviecomments_set.all %}
             <p>{{ comment.user.display_name }}: {{ comment.comment_text }}</p>
        {% endfor %}
        <a href="{% url 'review_app:add_comment' review_id=review.review_id %}" class="add-comment-button">Add Comment</a>

    {% endfor %}
    <a href="{% url 'review_app:add_review' movie_id=movie_details.movie.movie_id %}" class="add-review-button">Add Review</a>
</div>
{% endblock %}

{% block extra_css %}

{% endblock %}
