{% extends 'base.html' %}

{% block title %}
Movies
{% endblock %}

{% block content %}
<h1>Movies Page</h1>
<p>Movies table joined</p>
<h3>Movies</h3>

<table>
    <tr>
        <th>movie_id</th>
        <th>tittle</th>
        <th>production_year</th>
        <th>rating</th>
        <th>certificate</th>
        <th>duration</th>
        <th>description</th>
        <th>votes</th>
        <th>genre</th>
        <th>director</th>
        <th>cast</th>
        <th>reviews</th>
    </tr>
    {% for movie_details in movies_details %}
    <tr>
        <td>{{ movie_details.movie.movie_id }}</td>
        <td>
            <a href="{% url 'movie_app:movie_details' movie_id=movie_details.movie.movie_id %}">
                {{ movie_details.movie.tittle }}
            </a>
        </td>
        <td>{{ movie_details.movie.production_year }}</td>
        <td>{{ movie_details.movie.rating }}</td>
        <td>{{ movie_details.movie.certificate }}</td>
        <td>{{ movie_details.movie.duration }}</td>
        <td>{{ movie_details.movie.description }}</td>
        <td>{{ movie_details.movie.votes }}</td>
        <td>
            {% for genre in movie_details.genres %}
            {{ genre.display_name }}
            {% endfor %}
        </td>
        <td>
            {% for director in movie_details.directors %}
            {{ director.display_name }}
            {% endfor %}
        </td>
        <td>
            {% for cast in movie_details.casts %}
            {{ cast.display_name }}
            {% endfor %}
        </td>
        <td>
            {% for review in movie_details.reviews %}
            <b>{{ review.user }}</b>
            <p>{{ review.review_text }}</p>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}