{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<main>
    <div class="user-details-container">
        <h1>User Details Page</h1>
        <p>Here you can see the details of the user.</p>

        <section class="user-data-section">
            <h3>User Data</h3>
            <div class="user-data-table-container">
                <table class="user-data-table">
                    <tr>
                        <th>Login</th>
                        <td>{{ user.login }}</td>
                    </tr>
                    <tr>
                        <th>Salt</th>
                        <td>{{ user.salt }}</td>
                    </tr>
                    <tr>
                        <th>Display Name</th>
                        <td>{{ user.display_name }}</td>
                    </tr>
                    <tr>
                        <th>User Role</th>
                        <td>{{ user.user_role }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>First Name</th>
                        <td>{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <th>Surname</th>
                        <td>{{ user.surname }}</td>
                    </tr>
                </table>
            </div>
        </section>

        <section class="reviews-section">
            <h3>Reviews</h3>
            <div class="review-grid-det">
                {% for review in user_reviews %}
                <div class="review-item-det">
                    <h4>Movie: {{ review.movie }}</h4>
                    <p>User: {{ review.user }}</p>
                    <p>Rating: {{ review.rating }}</p>
                    <p>Date: {{ review.review_date }}</p>
                    <p>{{ review.review_text }}</p>
                </div>
                {% endfor %}
            </div>
        </section>

        <section class="favorite-movies-section">
            <h3>Favourite Movies</h3>
            <div class="review-grid-det">
                {% for review in user_reviews %}
                <div class="review-item-det">
                    <h4>Movie: {{ review.movie }}</h4>
                    <p>User: {{ review.user }}</p>
                    <p>Rating: {{ review.rating }}</p>
                    <p>Date: {{ review.review_date }}</p>
                    <p>{{ review.review_text }}</p>
                </div>
                {% endfor %}
            </div>
        </section>

    </div>
</main>
{% endblock %}